@import url(http://fonts.googleapis.com/css?family=Open%20Sans:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,400,500,600,700);
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');


/* Announcements */

.announce_card{
    margin-right: 10px;
    background-color:rgb(5, 60, 119);
}

.announce_card_heading {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 27px;
    padding-bottom: 10px;
    border-bottom: 3px solid orange;
}

.announce_card_text {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
}




/* abt acm */

.home_space1{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;
}

.about_heading {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
    color: rgb(0, 0, 43);
    font-weight: bold;
}

.about_box {
    height: 100%;
}

.home_acm_text{
    padding: 10px;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
}


.latest {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(215, 230, 236);
    padding-top: 50px;
    padding-bottom: 100px;
}

.card_deck {
    margin-left: 20px;
    margin-right: 20px;
}

.blog_card{
    margin: 30px;
    margin-left: 20px;
    background-color: transparent !important;
    border-bottom: 3px solid gray;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
}

.card_title {
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;
}

.card_title2 {
    font-size: 17px;
    font-family: 'Rajdhani', sans-serif;
    opacity: 0.7;
}

.card_text{
    padding-top: 15px;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
}

.card_button{
    background-color: rgb(59, 107, 197);
    font-family: 'Rajdhani', sans-serif;
}



/* team */

.home_space2{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(215, 235, 241);
}

.people{
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.img_overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.img_container {
    background-color: transparent;
}

.img_container:hover .img{
    opacity: 0.4;
    border: 1px solid black;
}
  
.img_container:hover .img_overlay {
    opacity: 1;
}


.img{
    border-radius: 50%;
    margin-top: 20px;
    border: 1px solid black;
}

.img_name{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Rajdhani', sans-serif;
}

.img_position{
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}

.img_icon{
    color: rgb(0, 0, 0);
}

.img_icon:hover{
    color: rgb(0, 0, 40);
}


/* events */

.home_space{
    padding-top: 200px;
    padding-bottom: 200px;
}

.home_accordion_main{
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.home_accordion_head{
    background-color: rgb(0, 3, 37) !important;
}

.home_accordion_heading {   
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.home_accordion_body{
    background-color: white;
    
}

.home_expand_button{
    color: white;
    box-shadow: rgb(255, 255, 255) 0px 1px 2px;
}

.home_accordion_text_head{
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: "Open Sans", Arial, sans-serif;
}

.home_accordion_text{
    margin: 5px;
    font-size: 14px;
    color: black;
    font-family: "Open Sans", Arial, sans-serif;
}

/* new yantra */

.yantras {
    padding-top: 100px;
    margin-top: 10px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.home_space3{
    padding-top: 100px;
    padding-bottom: 10px;
}

.yantra_container{
    max-width: 97%; 
    margin: 0 auto;
}

.yantras2{
    color: white;
    background-color: rgb(0, 0, 30);
    
}

.yantra_link {
    margin-left: 5px !important;
    border: 2px solid white !important;
    font-family: 'Rajdhani', sans-serif !important;
    font-weight: bold !important;
    width: 100px !important;
}

.yantra_card2-1{
    padding-top: 40px;
    padding-bottom: 70px;
    text-align: center;
    transition: 0.5s ease-in-out;
}


.yantra_card2-2{
    padding-top: 40px;
    padding-bottom: 70px;
    text-align: center;
    transition: 0.5s ease-in-out;
}


.yantra_img2 {
    margin-top: 10px;
    border-radius: 25px;
    border : 2px solid black;
    height: 250px;
    width: 250px;
    background-color: white;
}

.yantra_heading2{
    font-size: 28px;
    margin-top: 20px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}

.yantra_button{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);  
    font-weight: bold; 
    border: 2px solid black;
    font-family: 'Rajdhani', sans-serif;
}

.yantra_button:hover {
    background-color: rgb(211, 211, 211);
    color: black;
}

.yantra_content {
    padding-top: 10px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

/* numbers */

.home_space6{
    margin-top: 10px;
    padding-top: 70px;
    padding-bottom: 50px;
   
}

.number_container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(to bottom right , #12232E, #007cc7, #4DA8DA, #007cc7,  #12232E);
    border-radius: 30px;
}

.number_main{
    text-align: center;
}

.number_item {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    color: rgb(0, 0, 30);
    padding-left: 40px;
}

.number_no {
    margin-left: 10px;
    font-size: 40px;
    margin-top: 10px;
    font-family: 'Rajdhani', sans-serif;
}

.number_text {
    margin-left: 10px;
    margin-top: -10px;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
}

.number_footer {
    margin-top: 30px;
    position: absolute;
    right: 15%;
    font-size: 15px;
    opacity: 0.8;
}

.cta {
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #645862;
    background-image: url("../images/download3.jpg");
    background-size: cover;
    color: #fff;
    padding: 5em;
    text-align: center;
}


/* Contact */

.home_space7{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;
}

.contact_text{
    margin-left: 5px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
}

.contact_button{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);  
    font-weight: bold;
    border: 2px solid black;
    font-family: 'Rajdhani', sans-serif;
    margin-left: 20px;
}

.contact_icon_group {
   margin-left: 5px;
}

.contact_first_icon{
    color: black;
}

.contact_icon{
    color: black;
    margin-left: 30px;
}



/* gallery */

.home_space4{
    padding-top: 50px;
    padding-bottom: 50px;
}

.home_space5{
    margin-top: 10px;
    padding-top: 50px;
}

.wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    padding: 20px;
    background-color: rgb(0, 20, 56);
    max-width: 1370px;
    max-height: 1370px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;border-right: none !important;
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    opacity: 1;
    transition: all .25s ease-in-out;
}    
    
.gallery_image:nth-child(7n + 1) {
    grid-column: 2 / span 2;
}
    
.gallery_image:hover {
    z-index: 2;
    transform: scale(1.5);
    opacity: 1;
}
  
  




