@import url(http://fonts.googleapis.com/css?family=Open%20Sans:300,400,500,600,700);

.home_buttons {
    justify-content: center;
    position: relative;
}

.home_button_card1{
    background-color: rgb(52, 159, 167);
    color: white;
    width:fit-content;
}

.home_acm_text{
    text-align: center;
    font-size: 17px;
}

.home_card_deck{
    overflow: hidden;
}


.home_card_title{
    text-align: center;
    font-size: 25px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.home_card_text{
    font-weight: lighter;
}

.home_sig_card2 {
    background-color: rgb(6, 6, 43);
    color: white;
    padding-bottom: 20px;
}

.home_sig_card1 {
    background-color: rgb(50, 162, 190);
    color: white;
    padding-bottom: 20px;
}

.home_sig_heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

.home_sig_text {
    text-align: center;
    font-size: 15.5px;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.6;
    padding-top: 40px;
    padding-bottom: 20px;
}

.home_sig_img {
    background-color: white;
    border-radius: 10px;
}

.button{
    position: relative;
    justify-content: center;
}

.home_sig_button{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    border-radius: 16px;
    border: 2px solid white;
}

.home_space1{
    padding-top: 300px;
    padding-bottom: 300px;
    
}

.home_space2{
    margin-top: 20px;
}

.home_space{
    padding-top: 300px;
    padding-bottom: 300px;
    
}

.people{
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.img{
    height: 250;
    width: 250;
    border-radius: 50%;
    margin-top: 20px;
}

.img_name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.img_position{
    font-size: 17px;
    font-weight: lighter;
}

.img_links{
    margin-top: 5px;
}

.img_icon{
    margin-left: 10px;
}





