@import url(http://fonts.googleapis.com/css?family=Open%20Sans:300,400,500,600,700);


.project_space{
    padding-top: 200px;
    padding-bottom: 200px;
    
}

.home_accordion_text_head{
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.home_accordion_text{
    padding-top: 10px;
    margin: 5px;
    font-size: 14px;
    color: black;
}

.home_accordion_main{
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.home_accordion_head{
    background-color: rgb(0, 3, 37) !important;
    text-align: center;
}

.home_accordion_heading {   
    color: white;
    font-size: 15px !important;
    font-weight: bold;
}

.home_accordion_body{
    background-color: white;
    
}

.home_expand_button{
    color: white;
    box-shadow: rgb(255, 255, 255) 0px 1px 2px;
}

.project_button{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
    font-weight: bold;
    background-color: rgb(0, 3, 37);
    border: 2px solid black;
}
